.Logotot
{
    height:600px;
    width:800px;
    margin-left: 300px;
    margin-top: 40px;
    border:1px solid black;
    border-radius: 50px;
}
.Logoimg
{
    height:600px;
    width:800px;
    border-radius: 50px;

}
